@import "tailwindcss";


/* Base styles */
html, body, #root {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  margin: auto;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Links */
a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  color: var(--color-primary-hover);
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

/* Optional container to help center app content (optional) */
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tailwind classes take priority where applied, but this ensures a good fallback */
